@model Shop_Ban_Hang.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			Tên khách hàng
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Order.Customer.Fullname)
		</dd>
		<dt>
			Ngày đặt hàng
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Order.OrderDate)
		</dd>
        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
           Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Giảm giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
		
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
