@using PagedList;
@model IPagedList<Shop_Ban_Hang.Models.Customer>
@using PagedList.Mvc;

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<form class="form-inline ml-3" action="/Admin/Customers/Index" style="float:right;margin-right: 40px;">
	<div class="input-group input-group-sm">
		<input class="form-control form-control-navbar" type="search" name="searchstring" placeholder="Search" aria-label="Search">
		<div class="input-group-append">
			<button class="btn btn-navbar" type="submit">
				<i style="font-size:24px" class="fa fa-search"></i>
			</button>
		</div>
	</div>
</form>
<p>
	<a href="/Admin/Customers/Create"><input type="button" class="btn btn-primary" value="Add"></a>
</p>
<table class="table">

		<tr>
			
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Fullname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Photo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Activated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Password)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Fullname)
				</td>
				<td >
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td >
					@Html.DisplayFor(modelItem => item.Photo)
				</td>
				<td >
					@Html.DisplayFor(modelItem => item.Activated)
				</td>
				<td >
					@Html.DisplayFor(modelItem => item.Password)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}

</table>
<ul style="margin-left:300px" class="pagination">
	<li>@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page }))</li>

</ul>
@*<script>

	$(document).ready(function () {
		$('#example').DataTable();
	});
</script>*@
